*{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}
span{
    color: rgb(0, 0, 0);}

.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 124, 1);
    padding: 4px;

}
.header img{
    width: 40px;
    list-style: none;
}
.header ul{
    display:flex ;
    list-style: none;
    gap:4px;
}